@model Student

<h2>Are you sure to delete?</h2>
<p>@Model.FirstName @Model.LastName</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="StudentId" />
    <button class="btn btn-primary btn-sm mt-2" type="submit">Delete</button>
    <a class="btn btn-secondary btn-sm mt-2" asp-action="Index">Cancel</a>
</form>
