@model Student

<h2>Edit Student</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="StudentId" />
    <input class="form-control mt-2" asp-for="FirstName" />
    <span class="text-danger" asp-validation-for="FirstName"></span>

    <input class="form-control mt-2" asp-for="LastName" />
    <span class="text-danger" asp-validation-for="LastName"></span>

    <input class="form-control mt-2" asp-for="ClassLevel" />
    <span class="text-danger" asp-validation-for="ClassLevel"></span>

    <div>
        <button class="btn btn-primary btn-sm mt-2" type="submit">Save</button>
        <a class="btn btn-secondary btn-sm mt-2" asp-action="Index">Cancel</a>
    </div>
</form>